
@{
    ViewBag.Title = "Missions";
}

<h2>Missions</h2>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Missions
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Mexico</a></li>
        <li><a href="#">Tennessee Knoxville</a></li>
        <li><a href="#">Romania/Moldova</a></li>
    </ul>
</div>
